<template>
    <div class="hero2">
        <div class="judul">
          <br>
        <h1>Attendance Today</h1>
        <br>
        <h2>{{ new Date().getDate() }}-{{ new Date().getMonth()+1 }}-{{ new Date().getFullYear() }}</h2>
        <br>
        </div>
        <br><br><br>
        <div>
            <div>
                <table class="table table-striped table-hover" border=2 id="table1">
                    <tr>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Time</th>
                        <th>Attendance Type</th>
                        <th>Note</th>
                        <th>Location</th>
                        <th>Modify</th>
                    </tr>
                    <tbody>
                        <tr class="post" v-for="post in posts.attendance" :key="post.id">
                            <td>{{post.fullname}}</td>
                            <!-- <td>{{post.photo}}</td> -->
                            <td><img src="../assets/logo.png"></td>
                            <td>{{post.time}}</td>
                            <td>{{post.absence_type}}</td>
                            <td>{{post.note}}</td>
                            <td><a v-bind:href="'http://maps.google.com/?q=' + post.latitude + ',' + post.longitude"><b-btn v-if="post.status==0">See In Map</b-btn></a></td>
                            <div>
                            <td v-if="post.status==1">
                              <b-btn v-b-modal="'modal' + post.id">Change Absence Type</b-btn>
                            </td>
                              <b-modal :id="'modal'+post.id" title="Choose one" hide-footer ok-title="Attend" cancel-title="absent" ok-variant="success" cancel-variant="danger">
                                <p class="my-4">Reason : {{post.absence_type}}</p>
                                <p class="my-4">Notes : {{post.note}}</p>
                                <p class="my-4">Change this Employee attendance to?</p>
                                <div overflow="hidden" white-space="nowrap">
                                  <b-btn class="attend" v-on:click="ChangeStatus(post.id, post.userid, 'Attend')">Attend</b-btn>
                                  <b-btn class="absent" v-on:click="ChangeStatus(post.id, post.userid, 'Absent')">Absent</b-btn>
                                </div>
                              </b-modal>
                          </div>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            posts: []
        }
    },
    mounted() {

        if(localStorage.getItem('adminName').length<1)
        {
            this.$router.replace({ name: "Login" });
        }

        var self = this;
        var date = new Date().getDate() + '-' +  new Date().getMonth()+1 + '-' +  new Date().getFullYear(); 
        axios.get('http://207.148.72.13/attendance/today/2019-01-13')
        // axios.get('http://207.148.72.13/attendance/today/'+date)
        .then( function(res){
            console.log('Data: ', res.data);
            self.posts = res.data;
        })
        .catch( function(error){
            console.log('Error: ', error);
        })
    },
    methods: {
        ChangeStatus(id,userid,type) {
            axios.post('http://207.148.72.13/attendance/changeattendance/'+id+'/'+userid+'/'+type)
            .then(resp => {
                this.$router.go()
            })
            .catch(error => {
                console.log(error);
            })
        },
        closeModal: function () {
            this.show = false;
        }        
    }
}
</script>

<style>


.btn {
  background-color:#fc5100 !important;
  color: white;
}

.attend {
  background-color:green !important;
  width:100%;
}

.absent {
  background-color:red !important;
  width:100%;
}

.judul {
    align-items: center;
    justify-content: center;
    text-align: center;
}

table#table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
</style>


