<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Edit User</h1>
    <b-row>
      <b-col lg="3">
        <b-card :title="(model.id ? 'Edit Post ID#' + model.id : '')" class="card">
          <form @submit.prevent="submit">
            <b-form-group label="Fullname">
              <!-- <b-form-input type="text" v-model="model.fullname" :placeholder="posts.employee.fullname"></b-form-input> -->
              <b-form-input type="text" v-model="model.fullname" :value="posts.employee.fullname"></b-form-input>
            </b-form-group>
            <b-form-group label="Email">
              <!-- <b-form-input type="email" v-model="model.email" :placeholder="posts.employee.email"></b-form-input> -->
              <b-form-input type="email" v-model="model.email" :value="posts.employee.email"></b-form-input>
            </b-form-group>
            <b-form-group label="Role">
              <b-col class="m-md-2">
                  <b-form-select v-model="model.role" class="empty">
                      <!-- <option :value="posts.employee.role" selected disabled></option>
                      <option hidden :value="posts.employee.role">a</option> -->
                      <option :value="null" disabled hidden selected>Select</option>
                      <option value="Admin">Admin</option>
                      <option value="Project Manager">Project Manager</option>
                      <option value="Developer">Developer</option>
                      <option value="Designer">Designer</option>
                      <option value="Sales">Sales</option>
                  </b-form-select>
                  <!-- <div>selectedItem: <strong>{{ selectedItem }}</strong></div> -->
              </b-col>
            </b-form-group>
            <b-form-group label="Profile Picture">
              <!-- <b-form-file v-model="model.file" :state="Boolean(file)" placeholder="Choose a file..." ></b-form-file> -->
              <b-form-file v-model="model.file" class="mt-3" plain></b-form-file>
              <!-- <div class="mt-3">Selected file: {{file && file.name}}</div> -->
            </b-form-group>
            <b-form-group label="Password">
              <b-form-input type="password" v-model="model.password" placeholder="New Password"></b-form-input>
            </b-form-group>
            <div>
              <!-- <b-btn class="submitButton" type="submit" variant="success">Submit</b-btn> -->
              <b-btn class ="submitButton" type="submit" variant="success" v-on:click="submit(model.fullname, model.email, model.role, model.password, model.file)">Submit</b-btn>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>
    <alert>{{model.email}}, {{model.fullname}}</alert>
  </div>
</template>

<script>
import api from '@/api'
import axios from 'axios'

export default {
  data () {
    return {
      loading: false,
      posts: [],
      model: {
        role: null
      }
    }
  },
  mounted() {
      if(localStorage.getItem('adminName').length<1)
      {
          this.$router.replace({ name: "Login" });
      }
      var self = this;
      axios.get('http://207.148.72.13/employee/'+ this.$route.params.id)
      .then( function(res){
          console.log('Data: ', res.data);
          self.posts = res.data;
      })
      .catch( function(error){
          console.log('Error: ', error);
      })
  },
  methods: {
      submit(fullname, email, role, password, file) {

        // if(fullname==null || email==null || role==null ||file==null)
        if(fullname==null)
        {
          console.log('please fill the data');
          this.$swal('Error', 'Please fill the data', 'OK');
        }
        else
        {
          let formData = new FormData();
          formData.append('fullname', fullname);
          formData.append('email', email);
          formData.append('role', role);
          formData.append('password', password);
          formData.append('profile_picture', file);

          axios.patch(`http://207.148.72.13/employee/`+this.$route.params.id, formData)
          .then(response => {
            this.$router.replace('EmployeeList');
            window.location.href = "http://localhost:8080/EmployeeList";
            console.log('success');
          })
          .catch(e => {
              this.errors.push(e)
          })
        }
    }
  }
}
</script>

<style>

.h1 {
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.card {
    width:150%; 
    /* margin-left:5%;  */
    /* margin-right:15%;  */
    margin-left:140%;
}

.submitButton {
    background-color: #fc5100;
    color: white;
    width: 510px;
}

.custom-select {
  max-width: 97%;
}

</style>
