<template>
    <div class="hero2">
        <div class="judul">
        <br>
        <h1>Employee</h1>
        </div>
        <br><br><br><br>
        <!-- <h3><a class="createUser" href="http://localhost:8080/CreateUser"><b-btn>Create New User</b-btn></a></h3> -->
        <h3><b-btn class="createUser" v-on:click="CreateUser()">Create New User</b-btn></h3>
        <div>
            <div>        
                <table class="table table-striped table-hover" border=2 id="table1">
                    <tr>
                        <th>Name</th>
                        <th>profile Picture</th>
                        <th>Role</th>
                        <th>Total Annual Leave</th>
                        <th>Total Absent</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <tr class="post" v-for="post in posts.employee" :key="post.id">
                            <td>{{post.fullname}}</td>
                            <!-- <td>{{post.profile_picture}}</td> -->
                            <td><img src="../assets/logo.png"></td>
                            <td>{{post.role}}</td>
                            <td>{{post.annual_leave}}</td>
                            <td>{{post.total_absent}}</td>
                            
                            <td>
                            <!-- <a v-bind:href="'http://localhost:8080/SeeHistory/' + post.id"><b-btn>See Attendance History</b-btn></a><br>
                            <a v-bind:href="'http://localhost:8080/EditUser/' + post.id"><b-btn>Edit</b-btn></a><br> -->
                            <b-btn v-on:click="SeeHistory(post.id)">See Attendance History</b-btn><br>
                            <b-btn v-on:click="EditUser(post.id)">Edit</b-btn><br>
                                <b-btn v-b-modal="'modal' + post.id" name="foo" v-if="post.role!='Admin'"> Delete</b-btn>
                                <b-modal :id="'modal'+ post.id" title="Delete confirmation">
                                    <p class="my-4">Are you sure you want to delete user {{post.fullname}}?</p>
                                    <div slot="modal-footer" class="modal-footer">
                                        <button type="submit" class="btn btn-success" v-on:click="DeleteUser(post.id)" >Delete</button>
                                        <button type="button" class="btn btn-default" @click="$modal.hide('foo')"  v-on:click="closeModal()" >Cancel</button>
                                    </div>
                                </b-modal>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            posts: []
        }
    },
    mounted() {
        
        // if (localStorage.getItem('reloaded')) {
        //     // The page was just reloaded. Clear the value from local storage
        //     // so that it will reload the next time this page is visited.
        //     localStorage.removeItem('reloaded');
        // } else {
        //     // Set a flag so that we know not to reload the page twice.
        //     localStorage.setItem('reloaded', '1');
        //     this.$router.go('/EmployeeList');
        //     // vm.$forceUpdate();
        // }

        if(localStorage.getItem('adminName').length<1)
        {
            this.$router.replace({ name: "Login" });
        }
        
        var self = this;
        axios.get('http://207.148.72.13/employee/all')
        .then( function(res){
            console.log('Data: ', res.data);
            self.posts = res.data;
        })
        .catch( function(error){
            console.log('Error: ', error);
        })
    },
    methods: {
        CreateUser(){
            this.$router.replace('/CreateUser');
        },
        SeeHistory(id){
            this.$router.replace('/SeeHistory/'+id);
        },
        EditUser(id){
            this.$router.replace('/EditUser/'+id);
        },
        DeleteUser(id) {
            axios.delete('http://207.148.72.13/employee/'+id)
            .then(resp => {
                this.$router.go()
            })
            .catch(error => {
                console.log(error);
            })
        },
        closeModal: function () {
            this.show = false;
        }        
    }  
}
</script>

<style>
.judul {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.createUser {
    margin-left:70%;
}

table#table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.btn {
    margin-top: 10px !important;
    width: 200px;
    background-color: #fc5100;
    color: white;
}

</style>
