<template>
  <div class="hero">
    <div>
      <img class="logo" src="../assets/maven_logo.png">
      <h1 class="display-3">Maven Attendance Dashboard</h1>
      <p class="lead">Maven Digital Asia</p>
    </div>
  </div>
</template>

<style>
  .logo {
    height: 45vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fc5100;
  }
  .hero .lead {
    font-weight: 200;
    font-size: 2rem;
  }
</style>