<template>
  <div class="container-fluid mt-4">
    <img class="logo2" src="../assets/maven_logo.png">
        <h1 class="h1">Login</h1>
          <b-row>
            <b-col lg="3">
              <b-card :title="(model.id ? 'Edit Post ID#' + model.id : '')" class="card">
                <form @submit.prevent="submit">
                  <!-- <label class="eror">Login Failed!</label> -->
                  <b-form-group>
                    <b-form-input type="email" v-model="model.email" placeholder="Email"></b-form-input>
                  </b-form-group>
                  <b-form-group>
                    <b-form-input type="password" v-model="model.password" placeholder="Password"></b-form-input>
                  </b-form-group>
                  <div>
                    <b-btn class ="LoginButton" type="submit" variant="success" v-on:click="submit(model.email, model.password)">Login</b-btn>
                  </div>
                  <!-- <alert>{{model.email}}, {{model.password}}</alert> -->
                </form>
              </b-card>
            </b-col>
          </b-row>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data() {
      return {
          loading: false,
          posts: [],
          model: {}
      }
  },
  mounted() {
    if(localStorage.getItem('adminName').length>1)
    {
        this.$router.replace({ name: "Hello" });
    }
    // localStorage.setItem('adminName', '')
  },
  methods: {
      submit(email, password) {
          if(email==null)
          {
            this.$swal('Error', 'Please fill the data', 'error');
          }
          else
          {
            axios.post(`http://207.148.72.13/employee/loginAdmin`,{
              email: '' + this.model.email,
              password: '' + this.model.password
            })
            .then(response => {
              if(console.log(response.status)!='200')
              {
                var name = response.data.data.fullname;
                localStorage.setItem('adminName', name);
                this.$router.replace('/');

                console.log(response.status);
                console.log(name);
                console.log(localStorage.getItem('adminName'));
              }
              // else if(console.log(response.status)=='400')
              // {
              //   this.$swal('Error', 'Wrong Password!', 'OK');
              // }
              // else if(console.log(response.status)=='401')
              // {
              //   this.$swal('Error', 'Your account is not authorized to access this site', 'OK');
              // }
              // else if(console.log(response.status)=='404')
              // {
              //   this.$swal('Error', 'Your account is not found', 'OK');
              // }
              else
              {
                this.$swal('Error', 'Please fill the data corectly', 'error');
              }
              
              // console.log(response.status);
              
              // var id = response.data.data.id;
              // var name = response.data.data.fullname;
              // localStorage.setItem("adminId", id);
              // localStorage.setItem("adminFullname", fullname);
            })
            .catch(e => {
                this.errors.push(e)
            })
            // console.log(response.status);
          }
      }
  }
}
</script>

<style>
  .logo2 {
    height: 30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 42%;
    margin-bottom: -3%;
  }
  .h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .card {
    width:150%; 
    margin-left:140%;
  }
  .LoginButton {
    background-color: #fc5100;
    color: white;
    width: 510px !important;
  }
  .eror {
    margin-left: 40%;
    color: red;
  }
  
</style>