<template>
    <div class="hero2">
        <div class="judul">
        <br>
        <h1>Employee History</h1>
        </div>
        <br><br><br><br>
        <div>
            <div>        
                <table class="table table-striped table-hover" border=2 id="table1">
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Reason</th><!-- attendance_type -->
                        <th>Notes</th>
                    </tr>
                    <tbody>
                        <tr class="post" v-for="post in posts.attendance" :key="post.id">
                            <td>{{post.date}}</td>
                            <td>{{convert(post.status)}}</td>
                            <td>{{post.absence_type}}</td>
                            <td>{{post.note}}</td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            posts: []
        }
    },
    mounted() {

        if(localStorage.getItem('adminName').length<1)
        {
            this.$router.replace({ name: "Login" });
        }

        var self = this;
        axios.get('http://207.148.72.13/attendance/history/' + this.$route.params.id)
        .then( function(res){
            console.log('Data: ', res.data);
            self.posts = res.data;
        })
        .catch( function(error){
            console.log('Error: ', error);
        })
    },
    methods: {
        convert(number) {
            if(number==1){
                return "leave"
            }else if(number ==2){
                return "absent"
            }
        }  
    }
    
}
</script>

<style>

.judul {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.createUser {
    align-items: right;
    text-align: right;
    margin-left:15%;
}

table#table1 {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

</style>
