<template>
  <div id="app">
    <b-navbar class="custom-nav" toggleable="md" type="warning" variant="warning">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/">Home</b-nav-item>
          <b-nav-item to="/AttendanceSummary">Attendance Summary</b-nav-item>
          <b-nav-item to="/EmployeeList">Employee</b-nav-item>
          <!-- <b-nav-item class="login" href="#" @click.prevent="login" v-if="!activeUser">Login</b-nav-item>
          <b-nav-item class="login" href="#" @click.prevent="logout" v-else>Logout</b-nav-item> -->
          <!-- <router-link v-if="authenticated" to="/Login" v-on:click.native="logout()" replace>Logout</router-link> -->
          <!-- <b-nav-item class="login" to="/Login" v-if="this.$root.auth == false">Login</b-nav-item>
          <b-nav-item class="login" to="/Login" v-on:click.native="logout()" v-else>Logout</b-nav-item> -->
          <!-- <b-nav-item class="login" to="/Login" v-if="">Login</b-nav-item> -->
          <b-nav-item class="login" to="/Login" v-on:click="logout()" >Logout</b-nav-item>

          <!-- <router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace>Logout</router-link> -->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!-- <router-view @authenticated="setAuthenticated" /> -->
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      // activeUser: null
      // authenticated: false
    }
  },
  mounted() {
      // if(!this.authenticated) {
      //     this.$router.push({ name: "Login" });
      // }
  },
  methods: {
      setAuthenticated(status) {
          this.authenticated = status;
      },
      logout() {
          // this.authenticated = false;
          // this.$root.auth = false;
          // this.store = false;
          // Vue.prototype.store = false;
          
          localStorage.setItem('adminName', '');
          
          this.$router.replace({ name: "Login" });
      }
  }
  // async created () {
  //   await this.refreshActiveUser()
  // },
  // watch: {
  //   // everytime a route is changed refresh the activeUser
  //   '$route': 'refreshActiveUser'
  // },
  // methods: {
  //   login () {
  //     this.$auth.loginRedirect()
  //   },
  //   async refreshActiveUser () {
  //     this.activeUser = await this.$auth.getUser()
  //   },
  //   async logout () {
  //     await this.$auth.logout()
  //     await this.refreshActiveUser()
  //     this.$router.push('/')
  //   }
  // }
}
</script>

<style>

.custom-nav {
  background-color: #fc5100 !important;  
}

.nav-link {
  color: black !important; 
  font-weight: bold; 
}

/* .nav-link.active {
  color: white !important;  
} */

.login {
    margin-left:1050px;
    /* text-align: right */
    /* width:100%;  */
    /* margin-left:80%;  */
    /* margin-right:15%; */
}

</style>
